body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	font-family: Arial, sans-serif;
	color: #333;
}

.calculator {
	width: 320px;
	border-radius: 20px;
	padding: 20px;
	background-color: #f0d9db;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.display-container {
	border-radius: 20px;
	margin-bottom: 20px;
	background-color: #ecc5d0;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.1);
	overflow: hidden;
}

#display {
	width: calc(100% - 20px);
	height: 70px;
	font-size: 40px;
	text-align: right;
	margin: 0;
	padding: 0 10px;
	border: none;
	background-color: #ecc5d0;
	color: #333;
}

.buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
}

button {
	width: 100%;
	height: 70px;
	font-size: 30px;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.3s ease;
	color: #333;
}

button.digit {
	background-color: #f1c0cf;
}

button.operation {
	background-color: #f8e0f1;
}

button.clear,
button.equal {
	background-color: #d05a87;
	color: #fff;
}

button:hover {
	filter: brightness(1.2);
}

.history-container {
	margin-left: 20px;
	width: 320px;
	border-radius: 20px;
	padding: 10px;
	background-color: #f0d9db;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	overflow-y: auto;
}

.history-title {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
	color: #333;
}
